@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap");

$font1: "Space Grotesk", sans-serif;

$color1: hsl(270, 3%, 87%);
$color2: hsl(279, 6%, 55%);
$color3: hsl(278, 68%, 11%);
$color4: hsl(0, 100%, 66%);
$color5: hsl(249, 99%, 64%);
$color6: hsl(278, 94%, 30%);

@mixin animationLaunch($animation_name, $x1, $y1, $x2) {
  animation-name: --#{$animation_name};
  animation-duration: 1s;

  @keyframes --#{$animation_name} {
    0% {
      transform: translateX(#{$x2}) translateY(275px);
    }
    100% {
      transform: translateX(#{$x1}) translateY(#{$y1});
    }
  }
}
